h1 {
   font-family: Arial, Helvetica, sans-serif; 
}

.fondo{
   background-image: url('../img/img_1.jpg');
}

.color1{
   background-color: blue;
}

.color2{
   background-color: cornflowerblue;
}

.color3{
   background-color: darkblue;
}